<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
        <title>DEMO TIMECAPSULE</title>
	</head>
<body>
    <div class="form-container">
    <div class="mockform">
    <div style="font-size: 48px;">NOTICES</div><br><br>
    <div>To implement</div>
    <br>
    <button id="leave" class="cv_btn" onclick="window.location.href = '/';">Home</button>
    </div>
    </div>

</body>
</html>