<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
		<title>DEMO TIMECAPSULE</title>
	</head>
	<body>
		<div class="form-container">
		<div class="mockform">
		<h1 style="text-align: center;">Submit</h1>

			<form action="javascript:register()" method="POST">
				<label form="message">Url:</label>
				<input type="text" id="message_text" name="message_text" maxlength="41" required><br><br>

				<label form="view_date">Date:</label>
				<input type="date" id="view_date" name="view_date" required><br><br>

				<button type="submit" class=cv_btn onclick='document.getElementById("content").innerHTML = "Status:"'>Submit</button>
			</form>
			<br>
			<button id="leave" class="cv_btn" onclick="window.location.href = '/userpanel';">Leave</button>
			<br>
			<br>
			<div class="content" id="content">
				Status: {{ message }}
			</div>
		</div>
		</div>
	</body>
	<script>
		const register = async () => {
				// e.preventDefault();
				const message_text = document.getElementById("message_text").value;
				const view_date = document.getElementById("view_date").value;
				await fetch ('/submitnew', {
					method : 'POST',
					credentials: "same-origin",
					headers: {'Content-Type': "application/json"},
					body: JSON.stringify({message_text:message_text,view_date:view_date})
				})
				.then (response => {
					if (response.status == 401){
						 return {"message":"Status: Not Logged In"}
					}
					return response.json()
				})
				.then(data=>{
					let content = data.message;
					document.getElementById('content').innerHTML = content;
				})
			}
	</script>
</html>