<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collage Creater</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form-container">
    <div class="mockform" id="thanks">
    <h3>TOO MUCH CHARACTERS</h3>
    </div>
    </div>
    <div class="footer">
        <button id="leave" class="cv_btn" onclick="window.location.href = '/';">Home</button>
    </div>
</body>
</html>