<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
		<title>DEMO TIMECAPSULE</title>
	</head>
	<body>
		<div class="form-container">
		<div class="mockform">
			<h1 style="text-align: center;">User Signup</h1>
			<form action="javascript:register()" method="POST">
				<label form="usrname">Username:</label>
				<input type="text" id="usrname" name="usrname" maxlength="41" required><br><br>

				<label form="pass">Password:</label>
				<input type="password" id="pass" name="pass" required><br><br>

				<button type="submit" class=cv_btn>Submit</button>
				

			</form>
			<br>
			<button id="leave">Leave</button>
			<br>
			<br>
			<div id="status">Status:</div>
		</div>
		</div>
	</body>
</html>