<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
        <title>DEMO TIMECAPSULE</title>
	</head>
<body>
    <div class="form-container">
    <div class="mockform">
    <button class="cv_btn"> 
        Submit a url
    </button>
    <br>
    <br>
    <button class="cv_btn"> 
        View a url
    </button>
    <br>
    <br>
    <button class="cv_btn"
    onclick="logout()"> 
        Logout
    </button>
    </div>
    </div>
</body>

</html>